td, th{
   border: 1px solid black;
   word-wrap: normal;
   font-size: 18px;
   font-family:Verdana;
   padding: 2px 2px 2px 2px;
   
}

table {
	border-collapse: collapse;
}

form {
	margin: 0 auto;
}

input {
	width: 100%;
}

select {
	background-color: #ffffff;
    border: none;
    color: black;
    text-align: center;
    font-size: 16px;
    height: 100%;
    width: 100%;
    display: block;
}

#title2 {
	font-size: 20px;
	font-weight: bold;
	font-family:Verdana;
}

#createVmButton {
	width: 150px;
	height: 30px;
	margin-left: auto;
	border: 1px solid black;
	margin-top: 3px;
}

#version {
	text-align: left;
	font-size: 20px;
	font-family:Verdana;
}

#hostname {
	text-align: left;
	font-size: 22px;
	font-family:Verdana;
}

#leftCell {
	float: left;
	width: 180px;
	height: 100%;
}

#rightCell {
	margin-left: auto;
	height: 100px;
}


.button {
	background-color: #ffffff;
    border: none;
    color: black;
    text-align: center;
    font-size: 18px;
    height: 100%;
    width: 100%;
    display: block;
}

.h2 {
	font-weight: bold;
}

.vminfo {
	width: 370px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000000;
    font-size: 16px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000000;
   opacity:  1;
   font-size: 16px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000000;
   opacity:  1;
   font-size: 16px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #000000;
   font-size: 16px;
}
